@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body {
	background-color: #17a2b8;
	font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
}

.form-section {
	margin: auto;
}

.container {
	margin: auto;
	width: 50%;
	border: 2px dashed gray;
	padding: 10px;
	background-color: bisque;
	border-radius: 15px;

}

h1 {

	padding-top: 1rem;
	text-align: center;
	text-transform: uppercase;
}

.float-right {
	float: right;
}