@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
}

h1 {
	padding-top: 1rem;
	text-align: center;
	text-transform: uppercase;
}

.form-section {
	clear: left;
	background: url("frame.jpg");
	background-size: cover;
	background-position: center;
	min-height: 700px;
}

.inspection-form {
	position: absolute;
	border-radius: 10px;
	width: 95%;
	left: 2.5%;
	margin: 25px 0;
	color: #fff;
	background-color: rgba(60, 60, 60, 0.753);
	padding: 30px;
}

#button-container {
	text-align: center;
	margin: 20px 0;
}